*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.navbar {
  background-color: #DBB561;
  padding-right: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar img {
  height: 65px;
  width: 65px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 11;
  visibility: visible;
}

.popup-wrapper .popup-container {
  background-color: white;
  position: relative;
  z-index: 100;
  background: white;
  position: relative;
  margin: auto;
  border-radius: 20px;
  min-height: 450px;
  width: 100vw;
  max-width: 586px;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);
  padding: 36px 26px 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-wrapper #close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.popup-wrapper #close-popup:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.popup-wrapper #close-popup:before, .popup-wrapper #close-popup:after {
  content: '';
  display: block;
  height: 2px;
  width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -1px;
  background-color: #221F20;
}

.popup-wrapper #close-popup:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup-wrapper #close-popup:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-wrapper h1 {
  font-size: 48px;
  margin-bottom: 28px;
}

.popup-wrapper .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.popup-wrapper .form-inputs {
  width: 100%;
}

.popup-wrapper .form-inputs .form-input {
  width: 100%;
}

.popup-wrapper label {
  font-size: 24px;
  margin-bottom: 8px;
}

.popup-wrapper select,
.popup-wrapper input {
  border: 1px solid #4C3800;
  outline: none;
  padding: 4px;
  height: 41px;
  font-size: 16px;
  border-radius: 5px;
}

.popup-wrapper button {
  background-color: #BB6B62;
  border-radius: 12px;
  border: none;
  outline: none;
  width: 168px;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
li,
label,
input,
select,
option,
a {
  font-family: 'Lato', sans-serif;
}

#map * {
  overflow: visible;
}
/*# sourceMappingURL=index.css.map */